@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
}



.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  z-index: 1000; 
}

.app .header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.app .header a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: font-size 0.3s ease;
}

.app .header a:hover {
  color: #ddd;
  font-size: 2.2rem;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.header a:hover {
  color: #ddd;
}

.content {
  padding: 2rem;
  color: white;
}


p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}

.weather-page {
  background: url('./assets/sunset.jpg') no-repeat center center/cover;
}

.home-page {
  background: url('./assets/sky.jpg') no-repeat center center/cover;
}

.documentazione-page {
  background: url('./assets/wall.gif') no-repeat center center/cover;
}

.layer-container {
  position: relative;
  display: flex;
}

.layer {
  position: absolute;
  margin: 200px;
  padding: 3px;
  
}

.layer-left {
  left: 0;
  border: 3px solid #ccc;
}

.layer-right {
  right: 0;
  border: 3px solid #ccc;
}
 
.button-layer {
  margin-left: 45%;
  margin-top: 30%;
  text-align: center;
}

.button-layer button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
}

.button-layer button:hover {
  transform: scale(1.5);
}

.button-layer button {
  background-color: rgb(49, 50, 54);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.text-center {
  text-align: center;
  background-color: rgb(0, 0, 0);
}